[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
ananas = { git="https://github.com/codl/ananas.git", ref = "1.0.0b18+codl1" }
requests = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-recording = "*"
