-i https://pypi.python.org/simple/
ananas==1.0.0b12
beautifulsoup4==4.8.2
blurhash==1.1.4
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
decorator==4.4.1
idna==2.8
mastodon.py==1.5.0
more-itertools==8.0.2
pillow==6.2.0
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.7
