-i https://pypi.python.org/simple/
ananas==1.0.0b12
beautifulsoup4==4.8.1
blurhash==1.1.4
certifi==2019.9.11
chardet==3.0.4
configobj==5.0.6
decorator==4.4.0
idna==2.8
mastodon.py==1.5.0
more-itertools==7.2.0
pillow==6.2.0
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.3
requests==2.21.0
six==1.12.0
soupsieve==1.9.4
urllib3==1.24.3
