interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apod.nasa.gov/apod/calendar/allyears.html
  response:
    body:
      string: "<!doctype html>\n<HTML>\n<HEAD>\n<TITLE>Astronomy Picture of the Day
        Calendar\n</TITLE>\n<!-- gsfc meta tags -->\n<meta name=\"orgcode\" content=\"661\">\n<meta
        name=\"rno\" content=\"phillip.a.newman\">\n<meta name=\"content-owner\" content=\"Jerry.T.Bonnell.1\">\n<meta
        name=\"webmaster\" content=\"Stephen.F.Fantasia.1\">\n<meta name=\"description\"
        content=\"astronomy picture of the day calendar\nformat archive\">\n<!-- -->\n<META
        NAME=\"keywords\" CONTENT=\"calendar, astronomy, picture, APOD\">\n<script
        id=\"_fed_an_js_tag\" type=\"text/javascript\"\nsrc=\"js/federated-analytics.all.min.js?agency=NASA\"></script>\n\n</HEAD>\n<BODY
        background=today.jpg BGCOLOR=\"#FFFFF2\" LINK=\"#CCCCCC\" VLINK=\"#CCCCCC\"
        ALINK=\"#CCCCCC\"> \n\n<center>\n<br>\n\n<CENTER>\n<TABLE BORDER=0 CELLSPACING=5
        CELLPADDING=0 BGCOLOR=\"#000000\" >\n<TR><TD>\n<b>\n<FONT COLOR=\"#CCCCCC\"
        SIZE=+2>Astronomy Picture of the Day Calendar </font>\n<!--\n<center>\n<FONT
        COLOR=\"#CCCCCC\" SIZE=+0.5>Free Download: \n<a href=\"https://apod.nasa.gov/apod/image/1912/ApodCalendar2020v5.pdf\"\n>APOD
        2020 Wall Calendar</a> <br> </font>\n</center>\n-->\n</b>\n</TD></TR></TABLE>\n\n<hr>\n</center>\n\n<center>\n<TABLE
        BORDER=1 BGCOLOR=\"#000000\" width=80%>\n\n<TR>\n<TD><B><FONT COLOR=\"#999999\"><FONT
        SIZE=+2>2023</FONT></FONT></B></TD> \n<TD><B><A HREF=\"ca2301.html\"><FONT
        COLOR=\"#9933CC\"><center>Jan</center></font></A></B></TD>\n<TD><B><A HREF=\"ca2302.html\"><FONT
        COLOR=\"#6600CC\"><center>Feb</center></font></A></B></TD>\n</tr>\n\n<TR>\n<TD><B><FONT
        COLOR=\"#666666\"><FONT SIZE=+2>2022</FONT></FONT></B></TD> \n<TD><B><A HREF=\"ca2[...]
