interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apod.nasa.gov/apod/ap_faq.html
  response:
    body:
      string: "<!doctype html>\n<html>\n<head>\n<title> APOD: Frequently Asked Questions
        (FAQ)  \n</title>\n<!-- gsfc meta tags -->\n<meta name=\"orgcode\" content=\"661\">\n<meta
        name=\"rno\" content=\"phillip.a.newman\">\n<meta name=\"content-owner\" content=\"Jerry.T.Bonnell.1\">\n<meta
        name=\"webmaster\" content=\"Stephen.F.Fantasia.1\">\n<meta name=\"description\"
        content=\"frequently asked questions about\nAstronomy Picture of the Day\">\n<!--
        -->\n<script id=\"_fed_an_ua_tag\"\nsrc=\"//dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NASA\">\n</script>\n\n</head>\n<body
        BGCOLOR=\"#F4F4FF\" text=\"#000000\"  link=\"#0000FF\"\n                       vlink=\"#7F0F9F\"
        alink=\"#FF0000\">\n\n<hr>\n<center>\n<table>\n<tr>\n<td><img src=\"apod.gif\"
        alt=\"logo\"></td>\n<td><h1> Astronomy Picture of the Day's <br> Frequently\nAsked
        Questions (FAQ) </h1></td>\n</tr>\n</table>\n</center>\n<hr>\n<p>\n\nQ1: What
        does APOD stand for? <br> \nA1: APOD stands for the <a href=\n\"https://apod.nasa.gov/\"\n>Astronomy
        Picture of the Day</a>.  We abbreviate this \nas APOD instead of ApotD because
        APOD sounds better \n(spoken: AYE-pod).  <p>\n\nQ2: How can I easily see yesterday's
        APOD? <br>\nA2: Click the &lt; less than sign &lt; at the left of\ntoday's
        APOD link line [...]
