interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apod.nasa.gov/apod/lib/about_apod.html
  response:
    body:
      string: "<!doctype html>\n<html>\n<head> \n<title> About APOD </title>\n</title>
        \n<!-- gsfc meta tags -->\n<meta name=\"orgcode\" content=\"661\">\n<meta
        name=\"rno\" content=\"phillip.a.newman\">\n<meta name=\"content-owner\" content=\"Jerry.T.Bonnell.1\">\n<meta
        name=\"webmaster\" content=\"Stephen.F.Fantasia.1\">\n<meta name=\"description\"
        content=\"information about astronomy picture of\nthe day\">\n<script id=\"_fed_an_ua_tag\"\nsrc=\"//dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NASA\">\n</script>\n\n</head>\n<body
        bgcolor=\"#F4F4FF\" text=\"#000000\"  link=\"#0000FF\"\n                       vlink=\"#7F0F9F\"
        alink=\"#FF0000\">\n\n<hr>\n<center>\n<table>\n<tr>\n<td><img src=\"../apod.gif\"
        alt=\"logo\"></td>\n<td><h1> About <br> Astronomy Picture of the Day </h1></td>\n</tr>\n</table>\n</center>\n<p>\n\n<hr>\n<center>\n<a
        href=\"http://antwrp.gsfc.nasa.gov/apod/ap_faq.html\"\n>Frequently Asked Questions
        List</a>\n</center>\n<hr>\n\n<b> Acknowledgement: </b> \nThe Astronomy Picture
        of the Day (APOD) is based upon work supported by NASA under award No. 80NSSC17M0076.
        \ Any opinions, findings, and conclusions or recommendations expressed in
        this material are those of the author(s) and do not necessarily reflect the
        views of the National Aeronautics and Space Administration.\n\n\n<h3> How
        to Bookmark APOD </h3>\n\nLink to our main NASA site: <a href=\n\"http://apod.nasa.gov/\"\n>http://apod.nasa.gov/</a>\nwhich
        will direct you to \n<a href=\"http://apod.nasa.gov/apod/astropix.html\"\n>http://apod.nasa.gov/apod/astropix.html</a>.
        \ \nThis main site is the first to update and the most likely\nto be up-to-date.
        \ \n\n<p>\n\nAlternatively, link to one of our mirror sites: \n<ul>\n\n<li>
        Algeria (in Arabic from the \n<a href=\"http://siriusalgeria.net/\">Sirius
        Astronomy Association)</a>:\n<a href=\"http://www.apodar.com/\">http://www.apodar.com/</a>,\nmaintained
        by\n<a href=\"mailto: azoghbi at astro dot umd dot edu\">Abdrahman Zoghbi</a>\n\n<li>
        Austria (in German):\n<a href=\"http://www.starobserver.org/\">http://www.starobserver.org/</a>,\nmaintained
        by\n<a href=\"mailto:office at der-orion.com\">Maria Pflug-Hofmayr</a><br>\n\n<li>
  [...]
