interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://botsin.space/api/v1/instance/
  response:
    body:
      string: '{"uri":"botsin.space","title":"botsin.space","short_description":"A
        Mastodon instance for bots and bot allies.","description":"This instance is
        for bots and bot allies. Anyone can sign up to be a user here or run your
        bot here. Users agree to the Code of Conduct listed on the \u003ca href=\"/about/more\"\u003einformation
        page\u003c/a\u003e. You should also review the \u003ca href=\"/terms\"\u003eterms
        of service\u003c/a\u003e.\r\n\r\n","email":"colin@muffinlabs.com","version":"4.1.2","urls":{"streaming_api":"wss://botsin.space"},"stats":{"user_count":7973,"status_count":21098535,"domain_count":32275},"thumbnail":"https://files.botsin.space/site_uploads/files/000/000/003/@1x/f094348494098e9e.png","languages":["en"],"registrations":true,"approval_required":true,"invites_enabled":false,"configuration":{"accounts":{"max_featured_tags":10},"statuses":{"max_characters":500,"max_media_attachments":4,"characters_reserved_per_url":23},"media_attachments":{"supported_mime_types":["image/jpeg","image/png","image/gif","image/heic","image/heif","image/webp","image/avif","video/webm","video/mp4","video/quicktime","video/ogg","audio/wave","audio/wav","audio/x-wav","audio/x-pn-wave","audio/vnd.wave","audio/ogg","audio/vorbis","audio/mpeg","audio/mp3","audio/webm","audio/flac","audio/aac","audio/m4a","audio/x-m4a","audio/mp4","audio/3gpp","video/x-ms-asf"],"image_size_limit":10485760,"image_matrix_limit":16777216,"video_size_limit":41943040,"video_frame_rate_limit":60,"video_matrix_limit":2304000},"polls":{"max_options":4,"max_characters_per_option":50,"min_expiration":300,"max_expiration":2629746}},"contact_account":{"id":"1","username":"muffinista","acct":"muffinista","display_name":"colin
        mitchell","locked":false,"bot":false,"discoverable":false,"group":false,"created_at":"2017-04-03T00:00:00.000Z","note":"\u003cp\u003ehello!
        i run botsin.space but my personal account is muffinista@toot.site so if you
        need me you can check there\u003c/p\u003e","url":"https://botsin.space/@muffinista","avatar":"https://files.botsin.space/accounts/avatars/000/000/001/original/c766bf1ee2ed9287.jpg","avatar_static":"https://files.botsin.space/accounts/avatars/000/000/001/original/c766bf1ee2ed9287.jpg","header":"https://files.botsin.space/accounts/headers/000/000/001/original/5231bd9447c7b5f9.jpg","header_static":"https://files.botsin.space/accounts/headers/000/000/001/original/5231bd9447c7b5f9.jpg","followers_count":4662,"following_count":18,"statuses_count":464,"last_status_at":"2023-06-28","noindex":true,"emojis":[],"roles":[{"id":"3","name":"Owner","color":""}],"fields":[{"name":"pronouns","value":"he/him","verified_at":null},{"name":"home","value":"\u003ca
        href=\"https://muffinlabs.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer me\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003emuffinlabs.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null},{"name":"personal
        account","value":"\u003ca href=\"https://toot.site/@muffinista\" target=\"_blank\"
        rel=\"nofollow noopener noreferrer me\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003etoot.site/@muffinista\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"rules":[{"id":"1","text":"No
        accounts that promote crytptocurrency\r\n"},{"id":"2","text":"No police/military
        organization accounts\r\n"},{"id":"3","text":"No sexual depictions of children\r\n"},{"id":"4","text":"No
        uncurated news bots posting\r\n"},{"id":"5","text":"No untagged nudity, pornography
        and sexually explicit content\r\n"},{"id":"6","text":"No untagged gore and
        extremely graphic violence\r\n"},{"id":"7","text":"No stalking or harassment
        of other users\r\n"},{"id":"8","text":"Do not use bots to abuse other people.
        Punch up, not down\r\n"},{"id":"9","text":"Respect the standards of the fediverse.
        If a human would likely add CW to a post, a bot should also add a CW."},{"id":"10","text":"Your
        signup request must include the magic word!\r\n\r\nThe magic word is.... spreadsheet"},{"id":"11","text":"No
        mirrors of someone else''s Twitter accounts. If they want to be here, they
        can create their own account.\r\n\r\n"},{"id":"12","text":"No interactions
        with people who don''t opt in to the interaction. If you mention another user,
        they must either follow the bot, or they must''ve started the interaction
        themselves.\r\n"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4adc2a0e265593f0c3a79254261f3f8"
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Remaining:
      - '299'
      X-RateLimit-Reset:
      - '2023-06-29T10:05:00.829391Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://botsin.space/api/v1/statuses/109024311093141985
  response:
    body:
      string: "{\"id\":\"109024311093141985\",\"created_at\":\"2022-09-19T09:16:05.653Z\",\"in_reply_to_id\":\"109024238105549619\",\"in_reply_to_account_id\":\"108228634059522784\",\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://botsin.space/users/APoD/statuses/109024311093141985\",\"url\":\"https://botsin.space/@APoD/109024311093141985\",\"replies_count\":1,\"reblogs_count\":0,\"favourites_count\":1,\"edited_at\":null,\"content\":\"\\u003cp\\u003e\\u003cspan
        class=\\\"h-card\\\"\\u003e\\u003ca href=\\\"https://mastodon.online/@_MoonArcadia_\\\"
        class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003e_MoonArcadia_\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e
        Unlikely, but it\\u0026#39;s worth a try\\u003c/p\\u003e\",\"reblog\":null,\"application\":{\"name\":\"Tusky
        Test\",\"website\":\"https://tusky.app\"},\"account\":{\"id\":\"21962\",\"username\":\"APoD\",\"acct\":\"APoD\",\"display_name\":\"Astronomy
        Picture of the Day\",\"locked\":false,\"bot\":true,\"discoverable\":true,\"group\":false,\"created_at\":\"2018-01-12T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eDiscover
        the cosmos! A different image of our fascinating universe every day. \\u003c/p\\u003e\\u003cp\\u003e\U0001F30C
        \\u003ca href=\\\"https://apod.nasa.gov/\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener noreferre[...]
