interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apod.nasa.gov/apod/calendar/ca9601.html
  response:
    body:
      string: "<HTML><HEAD><TITLE>APOD 1996 January</TITLE>\n</HEAD><BODY BGCOLOR=\"#FFFFF2\">\n<CENTER><FONT
        SIZE=+0><A HREF=\"allyears.html\">\n             Click on a picture and discover
        the cosmos!</a> \n             <BR><FONT SIZE=+1>\n             Astronomy
        Picture of the Day Calendar </FONT>\n             <B><P></FONT><FONT SIZE=+0><CENTER>\n<CENTER>\n<table><tr>\n<td><A
        HREF=\"ca9512.html\"><font size=+1>Last\nMonth</A> \n</td> <td></td><td></td><td></td><td></td><td></td><td></td><td></td>\n<td></td><td></td>\n<td>
        <B><FONT SIZE=+1>January 1996</B></td>\n<td></td><td></td><td></td><td></td><td></td><td></td><td></td>\n<td></td><td></td>\n<td>
        \ <A HREF=\"ca9602.html\"><font size=+1>Next Month</A></td>\n</tr>   \n</table>\n</FONT></FONT>\n<CENTER><TABLE
        BGCOLOR=\"#FFFFF2\" >\n<TR>\n<TD><FONT COLOR=\"#330000\"><center>Sun</TD>\n<TD><FONT
        COLOR=\"#330000\"><center>Mon</TD>\n<TD><FONT COLOR=\"#330000\"><center>Tue</TD>\n<TD><FONT
        COLOR=\"#330000\"><center>Wed</TD>\n<TD><FONT COLOR=\"#330000\"><center>Thu</TD>\n<TD><FONT
        COLOR=\"#330000\"><center>Fri</TD>\n<TD><FONT COLOR=\"#330000\"><center>Sat</TD></TR>\n<TR>\n<TD></TD>\n<TD><A
        HREF=\"../ap960101.html\">\n       <IMG SRC=\"S_960101.jpg\" alt=\"Thumbnail
        image. Click to load APOD for this date\" BORDER=0>\n       </A></TD>\n<TD><A
        HREF=\"../ap960102.html\">\n       <IMG SRC=\"S_960102.jpg\" alt=\"Thumbnail
        image. Click to load APOD for this date\" BORDER=0>\n       </A></TD>\n<TD><A
        HREF=\"../ap960103.html\">\n       <IMG SRC=\"S_960103.jpg\" alt=\"Thumbnail
        image. Click to load APOD for this date\" BORDER=0>\n       </A></TD>\n<TD><A
        HREF=\"../ap960104.html\">\[...]
